/* css styles */
/* css styles */
/* @import "w3.css" */


.column {
    float: left;
   
}

.left {
    width: 48%;
}

.center {
    width: 12%;
}

.right {
    width: 40%;
    align-items: flex-end;
}
.row {
    display: flex;
}

a {
    color: rgb(88, 88, 212);    
    text-decoration: none;
}

a:hover {
    color: #117441;
}

.previous {
    text-align: left;
}

.center {
    text-align: center;
}

.next {
    text-align: right;
}

.main-small-navigation .menu {
    background: none repeat scroll 0 0 rgb(73, 4, 4);
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
#masthead-wrap {
    background-color: #020e11 !important;
    height: 150px;
    padding-top: 1px;
}

.menu-home-container {
    margin-top: -15px;
}

hr {
    height: 2px;
    border-width: 0;
    color: white;
    background-color: white
}

.indent {
    margin-left: 40px;
}

img {
    border-radius: 10px 10px 10px 10px;
}

.container {
    padding: 2px 16px;
}

/* mermaid content */
.mermaidContent {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #ebedf1;
    border-radius: 10px 10px 10px 10px;
}

/* summary card */
.summary{
    padding: 16px 16px 16px 16px;
    background: #a2f868;
    border: #ffffff6b;
    color: #117441;
    border-radius: 10px 10px 10px 10px;
}

/* labs card*/
.labs {
    padding: 16px 16px 16px 16px;
    background: #5555FF;
    border: #1407446b;
    color: #ebedf1;
    border-radius: 10px 10px 10px 10px;
}